/* start */
#app_panel {
  position: relative;
  overflow: hidden;
  font-size: 16px;
  width: 1600px;
  max-width: 100%;

  button {
    cursor: pointer;
  }
  p {
    font-size: inherit;
  }

  .panel-content {
    border: 1px solid var(--color-border);
  }
  .panel-header {
    background: #1d2327;
    color: white;
    padding: 2rem;
  }
  .panel-sidebar {
    background: var(--color-gray);
    border-right: 1px solid var(--color-border);
  }
  .panel-main {
    padding: 2rem;
  }

  /* ul.tabmenu */
  ul.tab-menu {
    padding: 0;
    margin: 0;
    li {
      margin: 0;
      padding: 6px 8px;
      border-bottom: 1px solid #ccc;
      display: flex;
      align-items: center;
      cursor: pointer;

      span.dashicons {
        font-size: 28px;
        margin-right: 8px;
        width: 32px;
        height: 32px;
        opacity: 0.7;
      }

      &.current {
        font-weight: 500;
        span.dashicons {
          opacity: 1;
        }
      }
    }
  }

  ul.tab-contents {
    li {
      display: none;
      &.current {
        display: block;
      }
    }
  }
}
