/**
* Width Module
* 
*/

// width eg: wd:x/x
$prt: (
  1: 3,
  2: 3,
);
$prt2: (
  1: 4,
  2: 4,
  3: 4,
);

$prt3: (
  1: 5,
  2: 5,
  3: 5,
  4: 5,
);

@mixin width {
  @for $i from 1 through 12 {
    .#{$put}wd\:#{$i}\/12 {
      width: percentage($i/12);
    }
  }
  // ptr
  @each $key, $val in $prt {
    .#{$put}wd\:#{$key}\/#{$val} {
      width: percentage($key/$val);
    }
  }
  // ptr2
  @each $key, $val in $prt2 {
    .#{$put}wd\:#{$key}\/#{$val} {
      width: percentage($key/$val);
    }
  }
  // ptr3
  @each $key, $val in $prt3 {
    .#{$put}wd\:#{$key}\/#{$val} {
      width: percentage($key/$val);
    }
  }
}

// width eg: md@wd(x/x)
@mixin res-width() {
  @each $name, $size in $screens {
    @media screen and(min-width: $size) {
      //12
      @for $i from 1 through 12 {
        .#{$put}#{$name}\@wd\:#{$i}\/12 {
          width: percentage($i/12);
        }
      }
      // ptr
      @each $key, $val in $prt {
        .#{$put}#{$name}\@wd\:#{$key}\/#{$val} {
          width: percentage($key/$val);
        }
      }
      // ptr2
      @each $key, $val in $prt2 {
        .#{$put}#{$name}\@wd\:#{$key}\/#{$val} {
          width: percentage($key/$val);
        }
      }
      // ptr3
      @each $key, $val in $prt3 {
        .#{$put}#{$name}\@wd\:#{$key}\/#{$val} {
          width: percentage($key/$val);
        }
      }
    }
  }
}

.#{$put}wd\:auto,
.#{$put}wd\:a {
  width: auto;
  max-width: auto;
}
.#{$put}wd\:100 {
  width: 100%;
  max-width: 100%;
}
.#{$put}wd\:max {
  width: max-content;
}
.#{$put}wd\:min {
  width: min-content;
}
.#{$put}wd\:vw {
  width: 100vw;
}
.#{$put}wd\:full {
  width: 100%;
}

/* height */
.#{$put}hg\:100 {
  height: 100%;
}
.#{$put}hg\:vh {
  height: 100vh;
}

@include width();
@include res-width();
